<div *ngIf="address.length>1">
    <div class="balance-view is-size-2">
        Current Balance: <strong>{{contractBalance}} AVAX</strong>
    </div>
    <div class="is-flex is-align-items-center">
        <span>
            Wallet: {{address}}
    
        </span>
    </div>
    <input class="nes-input" name="inputAmount" [(ngModel)]="amount" mode="decimal" type="number" placeholder="0.01" min="0" step="0.01" >
    <button (click)="addFunds()" class="button is-primary is-light ml-2 mr-2">Donate</button>
    <button (click)="withdraw()" class="button is-danger is-light">Withdraw</button>

</div>
<div *ngIf="address.length<1">
    <button type="button" class="nes-btn is-primary" (click)="clickConnect()">Conectar</button>
</div>